<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="css/product.css" />
</head>
<body>
  <%- include('includes/navigation.ejs') %>
  <main>
    <% if (prods.length > 0) { %>
    <h1>My products</h1>
    <p>List of all products</p>
    <% for(let products of prods) {%>
    <p><%= products.title %></p>
    <%}%> <% } else { %>
    <h2>No products</h2>
    <% } %>
  </main>
<%- include('includes/end.ejs') %>

